{% include 'header.html.twig' %}
<body>
<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">
<div class="mx-2">

    <form method='post' action='/createextratraining'>

    {{ include('blocks/user_selection.html.twig') }}

    <div class="form-group row">
      <label class="col-1 col-form-label">Points</label>
      <div class="col-5">
        <input class="form-control" type="number" value="200" name="points">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label">Date</label>
      <div class="col-5">
        <input class="form-control" type="datetime-local" value="{{ date }}" name="date">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label">Notes</label>
      <div class="col-5">
        <textarea class="form-control" name="notes" rows="5">100 Pts Training</textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p>{{ include('blocks/points_list.html.twig') }}</p>

</div>
</main>

</body>
</html>