<main role="main">

{% include 'header.html.twig' %}
<body>
<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">

<div class="mx-2">
<h1>Admin Page</h1>
<a class="btn btn-primary btn-lg" href="/addtraining">New Training</a>
<a class="btn btn-primary btn-lg" href="/addextratraining">New Extra Training</a>
</div>

</main>

</body>
</html>

</body>
</html>