{% include 'header.html.twig' %}
<body>

<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">

<h1>Ranking</h1>

<div class='table-responsive-sm'>
<table class='table table-sm'>
    <thead class='table-primary'>
    <tr>
        <th scope='col'>Rank</th>
        <th scope='col' style='text-align: left'>Name</th>
        <th scope='col' style='text-align: center'>Points</th>
        <th scope='col' style='text-align: center'>Training</th>
        <th scope='col' style='text-align: center'>Extra</th>
        <th scope='col' style='text-align: center'>Week Extra*</th>
        <th scope='col' style='text-align: center'>Week Team*</th>
    </tr>
    </thead>
    <tbody>
{% set show_avg = true %}
{% for user in users %}
	{% if user.name != null %}
	{% if user.points <= average_points and show_avg %}
	{% set show_avg = false %}
	<tr class='table-secondary'>
		<td style='text-align: left'  ></td>
		<td style='text-align: left'  ></td>
        <td style='text-align: center'>Ø {{ average_points }}</td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
	</tr>
	{% endif %}
	{% if user.week_extra + user.week_team >= 50 and user.week_team >= 10 %}
	<tr class='table-success'>
	{% elseif user.week_extra + user.week_team >= 50 or user.week_team >= 10 %}
	<tr class='table-warning'>
	{% else %}
	<tr class='table-danger'>
	{% endif %}
        <td style='text-align: left'  >{{ user.rank }}.</td>
        <td style='text-align: left'  >{{ user.name  }}</td>
        <td style='text-align: center'>{{ user.points }}</td>
        <td style='text-align: center'>{{ user.training_points }}</td>
        <td style='text-align: center'>{{ user.extra_points }}</td>
        {% if user.week_extra + user.week_team >= 50 %}
        <td style='text-align: center' class='table-success'>
        {% else %}
        <td style='text-align: center' class='table-danger'>
        {% endif %}
        {{ user.week_extra + user.week_team }}</td>
        {% if user.week_team >= 10 %}
        <td style='text-align: center' class='table-success'>
        {% else %}
        <td style='text-align: center' class='table-danger'>
        {% endif %}
        {{ user.week_team }}</td>
	</tr>
	{% endif %}
{% endfor %}

	<tr class='table-secondary'>
        <td style='text-align: left'  ></td>
        <td style='text-align: right' ><b>Points Collected</b></td>
        <td style='text-align: center'>{{ made_points }}</td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
	</tr>
	<tr class='table-secondary'>
        <td style='text-align: left'  ></td>
        <td style='text-align: right' ><b>Negative Points</b></td>
        <td style='text-align: center'>{{ negative_points }}</td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
	</tr>
	<tr class='table-secondary'>
        <td style='text-align: left'  ></td>
        <td style='text-align: right' ><b>Total Points</b></td>
        <td style='text-align: center'>{{ total_points }}</td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
        <td style='text-align: left'  ></td>
	</tr>
	</tbody>
</table>
</div>

*) Punkte seit letztem Freitag, 22:00 Uhr.

<h1>Next Milestones</h1>

<div class="mx-2">

<div class='table-responsive-sm'>
<table class='table table-sm'>
    <thead class='table-primary'>
    <tr>
        <th scope='col' style='text-align: right'>Punkte</th>
        <th scope='col' style='text-align: center'>Deadline</th>
        <th scope='col' style='text-align: left'>Notice</th>
    </tr>
    </thead>
    <tbody>
{% for milestone in MilestoneTable %}
	<tr>
        <td style='text-align: right' >{{ milestone.points }}.</td>
        <td style='text-align: center'>{{ milestone.deadline }}</td>
        <td style='text-align: left'  >{{ milestone.notice }}</td>
	</tr>
{% endfor %}

	</tbody>
</table>
</div>

<div><img src="data:image/png;base64, {{ MilestoneGraph }}" /></div>
<div><img src="data:image/png;base64, {{ MilestoneTrendGraph }}" /></div>
</div>

</main>

</body>
</html>