{% include 'header.html.twig' %}
<body>

<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">

<h1>Punkte Übersicht</h1>
<h2>Training Punkte</h2>
<ul class="list-group">
  <li class="list-group-item">Training Pauschal: min. 50 Punkte (abhängig von Intensität der Einheit)</li>
  <li class="list-group-item">Kleine Runde im Training: 20 Punkte</li>
</ul>

<h2>Extra Punkte</h2>
<div>
  {{ include('blocks/points_list.html.twig') }}
</div>

<h2>Team Extra Punkte</h2>
Punktebonus zu den Extra Punkten
<ul class="list-group">
  <li class="list-group-item">Zu Zweit: +10%</li>
  <li class="list-group-item">Zu Dritt: +20%</li>
  <li class="list-group-item">Zu Viert: +30%</li>
  <li class="list-group-item">Zu Fünft: +40%</li>
  <li class="list-group-item">Ab 6 Personen: +50%</li>
</ul>

<h1>Kleine Runde Intervalle</h1>
<div>
  <img src="graphics/kleineRundeIntervall_small.jpg" class="rounded mx-auto d-block">
</div>

</main>
</body>
</html>
