{% include 'header.html.twig' %}
<body>
<header>
{% include 'navigation.html.twig' %}
</header>

<main role="main">

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
        Training Units
      </button>
    </h2>
    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <div class='table-responsive-sm'>
            <table class='table table-sm'>
                <thead class='table-primary'>
                <tr>
                    <th scope='col'>Date</th>
                    <th scope='col'>Points</th>
                    <th scope='col'>Attendees</th>
                    <th scope='col'>Notes</th>
                </tr>
                </thead>
                <tbody>

                {% for training in trainings %}

				{% if training.neg_points > 0 %}
				<tr class='table-danger'>
				{% else %}
            	<tr class='table-default'>
            	{% endif %}
            		<td>{{ training.date|date("d.m.Y") }}</td>
            		<td>{{ training.points }}</td>
            		<td>{{ training.attendees }}</td>
            		<td>{{ training.note|nl2br }}</td>
            	</tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        Extra Units / By Date
      </button>
    </h2>
    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <div class='table-responsive-sm'>
            <table class='table table-sm'>
                <thead class='table-primary'>
                <tr>
                    <th scope='col'>Date</th>
                    <th scope='col'>Points</th>
                    <th scope='col'>Team</th>
                    <th scope='col'>Attendee</th>
                    <th scope='col'>Notes</th>
                </tr>
                </thead>
                <tbody>

                {% for training in extra_trainings %}

            	<tr class='table-default'>
            		<td>{{ training.date|date("d.m.Y") }}</td>
            		<td>{{ training.points }}</td>
            		<td>{{ training.team_points }}</td>
            		<td>{{ training.attendee }}</td>
            		<td>{{ training.note|nl2br }}</td>
            	</tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
      </div>
    </div>
  </div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
        Extra Units / By Name
      </button>
    </h2>
    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <div class='table-responsive-sm'>
            <table class='table table-sm'>
                <thead class='table-primary'>
                <tr>
                    <th scope='col'>Date</th>
                    <th scope='col'>Points</th>
                    <th scope='col'>Team</th>
                    <th scope='col'>Attendee</th>
                    <th scope='col'>Notes</th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
				<tr><td colspan="4"><b>{{ user.name }}</b></td></tr>
				{% for training in extra_trainings %}

				{% if training.user == user.id %}
            	<tr class='table-default'>
            		<td>{{ training.date|date("d.m.Y") }}</td>
            		<td>{{ training.points }}</td>
            		<td>{{ training.team_points }}</td>
            		<td>{{ training.attendee }}</td>
            		<td>{{ training.note|nl2br }}</td>
            	</tr>
            	{% endif %}
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>
      </div>
    </div>
  </div>
</div>

</main>

</body>
</html>