<ul class="list-group">
  <li class="list-group-item">Video Analyse: Youtube Link zusenden mit Spielminute in der (erfolgreich) eine Aktion stattfindet die wir einstudiert haben - 20 Punkte (max. 200 pro Woche)</li>
  <li class="list-group-item">Training Privat: 10 Punkte pro 0,5km Joggen (min. 5km)</li>
  <li class="list-group-item">Training Privat: 20 Punkte pro Intervall beim Joggen (ein Intervall min. 200m)</li>
  <li class="list-group-item">Training Privat: 8 Punkte pro 50m Bahn Schwimmen (min. 12 Bahnen)</li>
  <li class="list-group-item">Training Privat: 8 Punkte pro 2km Radfahren (min. 25km, keine E-Bikes!)</li>
  <li class="list-group-item">Training Privat: 2 Punkte pro 5 Liegestütze (min. 50 am Tag)</li>
  <li class="list-group-item">Training Privat: 1 Punkte pro 5 Situps (min. 50 am Tag)</li>
  <li class="list-group-item">Training Privat: 10 Punkte Kombibonus zusätzlich wenn min. jeweils 50 LS und SU am Tag</li>
  <li class="list-group-item">Training Privat: 30 Punkte Kombibonus zusätzlich wenn min. jeweils 100 LS und SU am Tag</li>
  <li class="list-group-item">Training Schule: bis zu 100 Punkte für 2h Sport Leistungskurs (nur falls auch wirklich geackert wurde!)</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=5DMHawHxndU">Training Koordinationsleiter</a> - 15 Punkte pro Durchgang</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=ByXzVy3jKR8">10 min Rücken Workout Video</a> - 25 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=wGZYbAZrDxw">10 min Basic HIIT Video</a> - 25 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=eBnSe3CIPn4">10 min Upper Body Workout Video</a> - 25 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=hoNBDamqRJM">10 min Handball Workout Video</a> - 30 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=06cwQlikBEA">12 min Happy Sweat Workout Video</a> - 30 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=g_tea8ZNk5A">15 min Full Body Stretch Video</a> - 40 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=_IoYLhrTBqY">15 min Daily Stretch Video</a> - 40 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=ozDVhZQuB-8">15 min Mobilitiy Video</a> - 40 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=EfJ4aB_enVE">15 min Sixpack Workout Video</a> - 45 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=aFDqf0BQaWE">15 min Kardio Workout mit Handball Video</a> - 50 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=My2bDatVNOQ">17 min Faszientraining Video</a> - 45 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=DQQP29pidfY">20 min Leg Day Workout Video</a> - 50 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=zxyxzK_w68I">20 min Beine + Waden Workout Video</a> - 50 Punkte</li>
  <li class="list-group-item"><a href="https://www.youtube.com/watch?v=IMctZ4i2FRw">30 min Full Body Workout Video</a> - 75 Punkte</li>
</ul>
