{% for user in users %}
{% if user.name != null %}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" name="{{ user.id }}">
  <label class="form-check-label" for="flexCheckDefault">
    {{ user.name  }}
  </label>
</div>
{% endif %}
{% endfor %}