<select class="form-select" aria-label="Default select example" name="user">
{% for user in users %}
  {% if user.name != null %}
  <option value="{{ user.id }}">{{ user.name }}</option>
  {% endif %}
{% endfor %}
</select>